In [19]:
import csv
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf
import sklearn
from sklearn import svm
from datetime import datetime

path="data/keyboard.csv"
file=open(path, newline='')
reader=csv.reader(file)

In [58]:
read=pd.read_csv(path)
#print(read.head())
print(read.columns)

df=read.loc[:,[' Activity',' x', ' y', ' z']]
df.head()
for row in df
    msec= []
    
    #for acc
    X_acc=[]
    Y_acc=[]
    Z_acc=[]
    #for gyro
    X_gyro=[]
    Y_gyro=[]
    Z_gyro=[]

Index(['Date', ' Time', ' Activity', ' Sensor', ' x', ' y', ' z'], dtype='object')

    Activity         x         y         z
0         15 -0.961915  6.374479  6.807580
1         15  0.095713  6.597012  7.661818
2         15 -0.643669  6.738188  7.479963
3         15 -0.995414  6.453443  7.140182
4         15 -1.325624  6.434300  7.233503